<header>
    <div class="container">
        <div class="navbar">
            <div class="logo">Black <span>Oromo</span> Coffee</div>
            <div class="nav-links">
                <a href="/" class="<%= currentPath === '/' ? 'active' : '' %>">Головна</a>
                <a href="/menu" class="<%= currentPath === '/menu' ? 'active' : '' %>">Меню</a>
                <a href="/reviews" class="<%= currentPath === '/reviews' ? 'active' : '' %>">Відгуки</a>
                <a href="/about" class="<%= currentPath === '/about' ? 'active' : '' %>">Про нас</a>
                <a href="/contacts" class="<%= currentPath === '/contacts' ? 'active' : '' %>">Контакти</a>
                <a href="/promotions" class="<%= currentPath === '/promotions' ? 'active' : '' %>">Акції</a>
                <a href="/blog" class="<%= currentPath === '/blog' ? 'active' : '' %>">Блог</a>
                <div id="userWidget"></div>
            </div>
        </div>
    </div>
</header>